<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="auction/_layout" xmlns:th="http://www.w3.org/1999/xhtml">


<!--/*@thymesVar id="auction" type="pl.edu.pb.springmarketplace.model.Auction"*/-->

<body>
<div layout:fragment="content">
<div class="container">
    <h2>Auction details:</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            <td th:text="${auction.id}"></td>
            <td th:text="${auction.title}"></td>
            <td th:text="${auction.description}"></td>
            <td th:text="${auction.price}"></td>
        </tr>
    </table>
    <div class="btn-group" role="group">
        <a class="btn btn-success" th:href="${'/auction/' + auction.id + '/delete' }" type="button">Delete</a>
        <a th:href="${'/auction/' + auction.id + '/edit'}" type="button" class="btn btn-primary">Edit</a>
    </div>
    <div class="back-to-list-button">
        <a th:href="${'/auction'}" role="button" class="btn btn-default">Back to list</a>
    </div>
</div>
</div>
</body>
</html>
