<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/_layout">

<head>
    <title>Edit Auction</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Auction Details</h2>
        <div>
            <!--/*@thymesVar id="auction" type="pl.edu.pb.springmarketplace.model.Auction"*/-->
            <!--/*@thymesVar id="category" type="pl.edu.pb.springmarketplace.model.Category"*/-->
            <form action="/auction" class="form-horizontal" method="post" th:object="${auction}">
                <input th:field="*{id}" type="hidden"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Title:</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{title}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{description}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Price:</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{price}" type="number"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <select aria-label="Default select example" class="form-select form-select-lg mb-3"
                                th:field="*{category}">
                            <option th:each="category : ${categories}" th:text="${category.name}"
                                    th:value="${category.id}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <br>
        <div>
            <a class="btn btn-default" th:href="${'/auction'}">Back to list</a>
        </div>
    </div>
</div>
</body>
</html>
