<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/_layout">

<head>
    <meta charset="UTF-8">
    <title>auctions list</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <h1>Auctions list:</h1>
    <div th:if="${not #lists.isEmpty(auctions)}">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
            <tr th:each="auction : ${auctions}">
                <td th:text="${auction.id}"></td>
                <td th:text="${auction.title}"></td>
                <td th:text="${auction.description}"></td>
                <td th:text="${auction.price}"></td>
                <td>
                    <a th:href="${'/auction/' + auction.id }" type="button" class="btn btn-info">Show</a>
                </td>
            </tr>
        </table>
    </div>
    <a class="btn btn-primary" th:href="${'/auction/new/'}" type="button">Add</a>
</div>
<div th:if="${#lists.isEmpty(auctions)}">
    <h3>Empty list</h3></div>
</div>
</body>
</html>
