<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Marketplace</title>


    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<!--NEED TO ADD ROLES AND AUTHENTICATION TO HIDE SOME TABS-->
<div class="navbar navbar-inverse" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Marketplace</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a href="#" th:href="@{/auction}">Home</a>
                </li>
                <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                    <a href="#" th:href="@{/category}">Categories</a>
                </li>
                <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                    <a href="#" th:href="@{/auction}">Moderation</a>
                </li>
                <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                    <a href="#" th:href="@{/appuser}">Administration</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span>[[${#request.remoteUser}]]</span>
                    </a>
                </li>
                <li>
                    <a href="/login" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li>
                    <a href="/registration" th:href="@{/registration}">
                        <span aria-hidden="true"></span>&nbsp;Register
                    </a>
                </li>
                <li>
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
    </div>
</div>
<div layout:fragment="content">
    <p>Changing contents</p>
</div>

</body>
</html>
